<h2>Enter new Artikal</h2>
<div class="container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ime">Naziv</label>
      <input name="sname" type="text" class="form-control" id="ime" [(ngModel)]="artikal.naziv" required>
    </div>

    <div class="form-group">
      <label for="cena">Cena</label>
      <input name="cena" type="text" class="form-control" id="cena" [(ngModel)]="artikal.cena" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>